@font-face {
  font-family: yofont;
  src: url("/hongmenyan/images/iconfont/iconfont.woff") format("woff"), url("/hongmenyan/images/iconfont/iconfont.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/hongmenyan/images/iconfont/iconfont1.woff") format("woff"), url("/hongmenyan/images/iconfont/iconfont1.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/hongmenyan/images/iconfont/iconfont-back.woff") format("woff"), url("/hongmenyan/images/iconfont/iconfont-back.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/hongmenyan/images/iconfont/iconfont-go.woff") format("woff"), url("/hongmenyan/images/iconfont/iconfont-go.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/hongmenyan/images/iconfont/iconfont-person.woff") format("woff"), url("/hongmenyan/images/iconfont/iconfont-person.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/hongmenyan/images/iconfont/iconfont-pay.woff") format("woff"), url("/hongmenyan/images/iconfont/iconfont-pay.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/hongmenyan/images/iconfont/iconfont-money.woff") format("woff"), url("/hongmenyan/images/iconfont/iconfont-money.ttf") format("truetype");
}
